 .progress{
    background: #ababab;
    width: 60%; 
    margin-right: 100%;
} 

.general:empty{display:none;}

div {
    color:rgb(216, 214, 214);
}

.list{
    padding-left: 20%;
}

.row{
    padding-left: 20px;
    display:flex;
    justify-content: center;
}

.container{ 
    padding-left: 20px;
    max-width: 1000px;
    display:grid;
    grid-template-columns: repeat(auto-fill,250px);
    grid-template-rows: auto ;
    justify-content:center;    
}

.titulo{
    align-items: center;
    display:flex;
}

.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
}
