<div class="fondo" *ngIf="skillHS">
    <div class="row">
      <div>
        <section class="form-register">
          <h4>Formulario de edición de habilidades</h4>
          <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="nombre"> Nombre de la habilidad</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              [(ngModel)]="skillHS.nombre"
              required
            />
          </div>
          <div class="form-group">
            <label for="porcentaje"> Porcentaje de la habilidad</label>
            <input
              type="text"
              class="form-control"
              id="porcentaje"
              name="porcentaje"
              [(ngModel)]="skillHS.porcentaje"
              required
            />
          </div>
          <button class="btn btn-primary">Actualizar habilidad</button>
          <div>
            <section>
              <label><input  type="checkbox" 
                 
                id="circulo"
                name="circulo"
                [(ngModel)]="skillHS.circulo" 
                >Circulo</label>
            </section>
          </div>
          </form>
        </section>
      </div>
    </div>
  </div>