
<div class="row">
    <h2 class="card-title">Hards & Soft Skills:</h2>
    <br/>
    <div class="col-lg-2">
      <button type="button"
        class="btn btn-dark"
        routerLink="/newhab"
        *ngIf="isLogged">
        Nueva Habilidad
      </button>
    </div>
    <div *ngFor="let skill of skill">
<div >
    <div class="list" *ngIf="!skill.circulo">

      <ul >
          <li><h3>{{skill.nombre}}</h3></li>
          <div class="progress" style="width: 73%" >
              <div class="progress-bar progress-bar-striped progress-bar-animated"
              id="porcentajebarra" 
              role="progressbar" aria-valuenow="75" 
              aria-valuemin="0" aria-valuemax="100" 
              style="width:{{skill.porcentaje}}%"></div>
          </div><br>

          <button type="button"
          class="btn btn-dark btn-sm"
          routerLink="/edithab/{{skill.id}}"
          *ngIf="isLogged">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
        </button>
        <button type="button"
        class="btn btn-dark btn-sm"
        (click)="delete(skill.id)"
        *ngIf="isLogged">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
          <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
        </svg>
      </button>

          <!--
          <li><h3>Gran capacidad de aprendizaje</h3></li>
          <div class="progress" style="width: 73%">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
          </div><br>
          <li><h3>Ingles</h3></li>
          <div class="progress" style="width: 73%">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
          </div><br>
          <li><h3>Relaciones interpersonales</h3></li>
          <div class="progress" style="width: 73%">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
          </div> -->
      </ul>
      </div>

</div>
</div>

<div class="col-sm-4 col-md-4 col-lg-4 general"  *ngFor="let skill2 of skill">

  <div  *ngIf="skill2.circulo">

   
    <!-- HARD SKILLS -->

     <div class=" caja "  >
       <circle-progress
       [percent]="(skill2.porcentaje)"
       [radius]="60"
       [space]="-15"
       
       
       [showBackground]="true"
       [backgroundColor]="'#ffffff'"
       [backgroundOpacity]=".15"
       [backgroundGradientStopColor]="'#956565'"
       
       [backgroundStroke]="'#d9a6a6'"
       [outerStrokeGradient]="true"
       [outerStrokeWidth]="15"
       [outerStrokeColor]="'#085fe2'"
       [outerStrokeGradientStopColor]="'#4d94ff'"
       [innerStrokeWidth]="15"
       [innerStrokeColor]="'#c2e0ff'"
       
       [animateTitle]="false"
       [animation]="true"
       [animationDuration]="700"
       [showSubtitle]="false"
       [showUnits]="false"
       
       [clockwise]="false"
       [startFromZero]="false"
       [lazy]="false"
 
       [showImage]="true"
       [imageSrc]="'../assets/coffee.png'"
       [imageHeight]="100"
       [imageWidth]="100"
       ></circle-progress>
       <div class="titulo">
         <h5>{{skill2.nombre}}</h5>
       </div>
       <div>
        <button type="button"
                     class="btn btn-dark btn-sm"
                     routerLink="/edithab/{{skill2.id}}"
                     *ngIf="isLogged">
                     <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                       <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                       <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                     </svg>
                   </button>
                   <button type="button"
                   class="btn btn-dark btn-sm"
                   (click)="delete(skill2.id)"
                   *ngIf="isLogged">
                   <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                     <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                   </svg>
                 </button>
       </div>
       
      </div>

   </div>
</div>

</div>


