<div class="row">
    <h2 class="card-title">Hards & Soft Skills</h2>
    <div class="list">

    <ul>
        <li><h3>Rapida resolucion de problemas</h3></li>
        <div class="progress" style="width: 73%">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 79%"></div>
        </div><br>
        <li><h3>Gran capacidad de aprendizaje</h3></li>
        <div class="progress" style="width: 73%">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
        </div><br>
        <li><h3>Ingles</h3></li>
        <div class="progress" style="width: 73%">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
        </div><br>
        <li><h3>Relaciones interpersonales</h3></li>
        <div class="progress" style="width: 73%">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
        </div>
    </ul>
    </div>
    <!-- HARD SKILLS -->
    <div class="container row">
    <!-- CIRCULO 1 -->
    <div class="col-sm-4 col-md-4 col-lg-4 caja1">
        <circle-progress
        [percent]="80"
        [radius]="60"
        [space]="-15"
        
        [showBackground]="true"
        [backgroundColor]="'#ffffff'"
        [backgroundOpacity]=".15"
        [backgroundGradientStopColor]="'#956565'"
        
        [backgroundStroke]="'#d9a6a6'"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="15"
        [outerStrokeColor]="'#085fe2'"
        [outerStrokeGradientStopColor]="'#4d94ff'"
        [innerStrokeWidth]="15"
        [innerStrokeColor]="'#c2e0ff'"
        
        [animateTitle]="false"
        [animation]="true"
        [animationDuration]="700"
        [showSubtitle]="false"
        [showUnits]="false"
        
        [clockwise]="false"
        [startFromZero]="false"
        [lazy]="false"

        [showImage]="true"
        [imageSrc]="'../assets/html2.png'"
        [imageHeight]="100"
        [imageWidth]="100"
        ></circle-progress>
    </div>
    <!-- CIRCULO 2 -->
    <div class="col-sm-4 col-md-4 col-lg-4 caja2" >
        <circle-progress
        [percent]="75"
        [radius]="60"
        [space]="-15"
        
        [showBackground]="true"
        [backgroundColor]="'#ffffff'"
        [backgroundOpacity]=".15"
        [backgroundGradientStopColor]="'#956565'"
        
        [backgroundStroke]="'#d9a6a6'"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="15"
        [outerStrokeColor]="'#085fe2'"
        [outerStrokeGradientStopColor]="'#4d94ff'"
        [innerStrokeWidth]="15"
        [innerStrokeColor]="'#c2e0ff'"
        
        [animateTitle]="false"
        [animation]="true"
        [animationDuration]="700"
        [showSubtitle]="false"
        [showUnits]="false"
        
        [clockwise]="false"
        [startFromZero]="false"
        [lazy]="false"

        [showImage]="true"
        [imageSrc]="'../assets/css2.png'"
        [imageHeight]="90"
        [imageWidth]="90"
        ></circle-progress>
    </div>
    <!-- CIRCULO 3 -->
    <div class="col-sm-4 col-md-4 col-lg-4 caja3">
        <circle-progress
        [percent]="65"
        [radius]="60"
        [space]="-15"
        
        [showBackground]="true"
        [backgroundColor]="'#ffffff'"
        [backgroundOpacity]=".15"
        [backgroundGradientStopColor]="'#956565'"
        
        [backgroundStroke]="'#d9a6a6'"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="15"
        [outerStrokeColor]="'#085fe2'"
        [outerStrokeGradientStopColor]="'#4d94ff'"
        [innerStrokeWidth]="15"
        [innerStrokeColor]="'#c2e0ff'"
        
        [animateTitle]="false"
        [animation]="true"
        [animationDuration]="700"
        [showSubtitle]="false"
        [showUnits]="false"
        
        [clockwise]="false"
        [startFromZero]="false"
        [lazy]="false"

        [showImage]="true"
        [imageSrc]="'../assets/JS2.png'"
        [imageHeight]="100"
        [imageWidth]="100"
        ></circle-progress>
    </div>
    <!-- CIRCULO 4 -->
    <div class="col-sm-4 col-md-4 col-lg-4 caja4">
        <circle-progress
        [percent]="55"
        [radius]="60"
        [space]="-15"
        
        [showBackground]="true"
        [backgroundColor]="'#ffffff'"
        [backgroundOpacity]=".15"
        [backgroundGradientStopColor]="'#956565'"
        
        [backgroundStroke]="'#d9a6a6'"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="15"
        [outerStrokeColor]="'#085fe2'"
        [outerStrokeGradientStopColor]="'#4d94ff'"
        [innerStrokeWidth]="15"
        [innerStrokeColor]="'#c2e0ff'"
        
        [animateTitle]="false"
        [animation]="true"
        [animationDuration]="700"
        [showSubtitle]="false"
        [showUnits]="false"
        
        [clockwise]="false"
        [startFromZero]="false"
        [lazy]="false"

        [showImage]="true"
        [imageSrc]="'../assets/SQL2.png'"
        [imageHeight]="75"
        [imageWidth]="75"
        ></circle-progress>
    </div>
    <!-- CIRCULO 5 -->
    <div class="col-sm-4 col-md-4 col-lg-4 caja5">
        <circle-progress
        [percent]="75"
        [radius]="60"
        [space]="-15"
        
        [showBackground]="true"
        [backgroundColor]="'#ffffff'"
        [backgroundOpacity]=".15"
        [backgroundGradientStopColor]="'#956565'"
        
        [backgroundStroke]="'#d9a6a6'"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="15"
        [outerStrokeColor]="'#085fe2'"
        [outerStrokeGradientStopColor]="'#4d94ff'"
        [innerStrokeWidth]="15"
        [innerStrokeColor]="'#c2e0ff'"
        
        [animateTitle]="false"
        [animation]="true"
        [animationDuration]="700"
        [showSubtitle]="false"
        [showUnits]="false"
        
        [clockwise]="false"
        [startFromZero]="false"
        [lazy]="false"

        [showImage]="true"
        [imageSrc]="'../assets/Bootstrap.png'"
        [imageHeight]="85"
        [imageWidth]="85"
        ></circle-progress>
    </div>
    <!-- CIRCULO 6 -->
    <div class="col-sm-4 col-md-4 col-lg-4 caja6" >
        <circle-progress
        [percent]="80"
        [radius]="60"
        [space]="-15"
        
        [showBackground]="true"
        [backgroundColor]="'#ffffff'"
        [backgroundOpacity]=".15"
        [backgroundGradientStopColor]="'#956565'"
        
        [backgroundStroke]="'#d9a6a6'"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="15"
        [outerStrokeColor]="'#085fe2'"
        [outerStrokeGradientStopColor]="'#4d94ff'"
        [innerStrokeWidth]="15"
        [innerStrokeColor]="'#c2e0ff'"
        
        [animateTitle]="false"
        [animation]="true"
        [animationDuration]="700"
        [showSubtitle]="false"
        [showUnits]="false"
        
        [clockwise]="false"
        [startFromZero]="false"
        [lazy]="false"

        [showImage]="true"
        [imageSrc]="'../assets/git.png'"
        [imageHeight]="80"
        [imageWidth]="80"
        ></circle-progress>
    </div>
    </div>
</div>