/* Formato de letras */
.acerca {
    padding-left: 20px;
    color:rgb(216, 214, 214);
}
/* formato foto de perfil */
.container{
    margin-top: -10%;  
}


@media screen and (max-width: 575px) {
    .container{ 
        margin-top: -40px;
        max-width: 170px;       
        height:auto;
    }
} 

/* Formato del Nombre */
#name{
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 35px;
    letter-spacing: 20px; 
    text-align: center;
    color: snow;
    
}

/* Formato del Nombre */
#titulo{
    font-weight: bold;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    color: snow;
}

p{
    text-align: center;
}