/* Formato de letras */
div {
    
    color:rgb(216, 214, 214);
}

/* Formato de la foto de perfil */
.perfil{
    border-radius: 35%;
    display: block;
    margin-block-start: -40% ;
}

/* Formato del contendor de la foto de perfil */
.row{
    display: flex;
 justify-content: center;
}

/* Formato del Nombre */
#name{
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 35px;
    letter-spacing: 20px; 
    text-align: center;
    color: snow;
    
}

/* Formato del Nombre */
#titulo{
    font-weight: bold;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    color: snow;
}