<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
    <img
      src="../../../assets/perfilenzo1.jpg"
      alt="Img. de Perfil"
      class="img-fluid perfil"
    />
  </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <p id="name">Enzo Ferreyra</p>
  <p id="titulo">FULL STACK DEVELOPER JR.</p>
</div>

<div>
  <h2>Acerca de mi:</h2>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia corrupti
    nam ut, deserunt obcaecati optio dicta a, incidunt nostrum, in labore
    voluptates sed ducimus earum error debitis sint quam! Dolore.
  </p>
</div>
