<div
  class="row"
  style="
    background-image: url('../../../assets/fondo.jpg');
    height: 100vh;
    width: 102%;
  "
>
  <!-- partial:index.partial.html -->
  <div class="container">
    <section class="login" id="login">
      <div class="head">
        <h1 class="company">Enzo Ferreyra</h1>
      </div>
      <p class="msg">Welcome back</p>
      <div class="form">
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
          <input
            type="text"
            placeholder="Username"
            class="text"
            id="nombreUsuario"
            [(ngModel)]="nombreUsuario"
            name="nombreUsuario"
            required
          /><br />
          <input
            type="password"
            id="password"
            placeholder="••••••••••••••"
            class="password"
            [(ngModel)] = "password"
            name="password"
            required
          /><br />
          <button href="#" class="btn-login" id="do-login">Login</button>
          <!--<button href="#" class="forgot" >Forgot?</button>-->
         <!-- <a href="#" class="forgot">Forgot?</a> -->
        </form>
      </div>
    </section>

    <!-- partial -->
    <script src="./script.js"></script>
  </div>
</div>
