<div class="row">
    <h2>Educación:</h2>
    <br />
    <div class="col-lg-11 list">
      <ul>
        <li><h3>Universidad </h3><h5>(N° Years)</h5></li>
  
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
          corrupti nam ut, deserunt obcaecati optio dicta a, incidunt nostrum, in
          labore voluptates sed ducimus earum error debitis sint quam! Dolore.
        </p>
      </ul>
  
      <ul>
        <li><h3>Secundario </h3><h5>(N° Years)</h5></li>
  
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
          corrupti nam ut, deserunt obcaecati optio dicta a, incidunt nostrum, in
          labore voluptates sed ducimus earum error debitis sint quam! Dolore.
        </p>
      </ul>
  
      <ul>
        <li><h3>Curso </h3><h5>(N° Years)</h5></li>
  
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
          corrupti nam ut, deserunt obcaecati optio dicta a, incidunt nostrum, in
          labore voluptates sed ducimus earum error debitis sint quam! Dolore.
        </p>
      </ul>
    </div>
  </div>
  