<div class="row">
  <div class="container text-center  col-sm-4 col-md-4 col-lg-4">
    <div>
    <img
      src={{persona?.img}}
      alt="Img. de Perfil"
      class="img-fluid perfil"
      style="border-radius: 35%;"
    /></div>
  </div>

</div>
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <p id="name">{{persona?.nombre}} {{persona?.apellido}}</p>
  <p id="titulo">FULL STACK DEVELOPER JR.</p>
</div>
</div>

<div class="row acerca">
  <h2>Acerca de mi:</h2>
  <p>
    {{persona?.descripcion}}
  </p>
</div>
<div class="col-lg-2" style="
padding-left: 20px;">
  <button
    type="button"
    class="btn btn-dark"
    routerLink="/editarAcercade/1"
    *ngIf="isLogged"
  >
    Editar Perfil
  </button>

</div><br>