
<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../assets/logoAP.png" alt="fotoAP" id="LogoAP">
        </div>

        <div class="sociales">
        <a href=""><img src="../../../assets/github.png" alt="github.png" id="github"></a>
        <a href=""><img src="../../../assets/linkedin.png" alt="linkedin.png" id="linkedin"></a>
        <a href=""><img src="../../../assets/twitter.png" alt="twitter.png" id="twitter"></a>
        <a href=""><img src="../../../assets/instagram.png" alt="instagram.png" id="instagram"></a>
        <a href=""><img src="../../../assets/facebook.png" alt="facebook.png" id="facebook"></a>
        <a href="/login"><button type="button" class="btn btn-outline-dark" id="login" (click)="login()" *ngIf="!isLogged">LogIn</button></a>
        <a href="#"><button type="button" class="btn btn-outline-dark" id="login" (click)="onLogout()"*ngIf="isLogged">LogOut</button></a>
    </div>
        
    </div>
    
    
</div>
    