
<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
                <img src="../assets/logoAP.png" alt="fotoAP" id="LogoAP"></a>
        </div>

        <div class="sociales">
        <a href="https://github.com/enzof31"><img src="../../../assets/github.png" alt="github.png" id="github"></a>
        <a href="https://www.linkedin.com/in/enzo-ferreyra-3b11a413a/"><img src="../../../assets/linkedin.png" alt="linkedin.png" id="linkedin"></a>
        <a href="https://twitter.com/EnzoFerreyra1"><img src="../../../assets/twitter.png" alt="twitter.png" id="twitter"></a>
        <a href="https://www.instagram.com/enzoferreyra_31/"><img src="../../../assets/instagram.png" alt="instagram.png" id="instagram"></a>
        <a href="https://www.facebook.com/enzo.ferreyra.7/"><img src="../../../assets/facebook.png" alt="facebook.png" id="facebook"></a>
        <a href="/login"><button type="button" class="btn btn-outline-dark" id="login" (click)="login()" *ngIf="!isLogged">LogIn</button></a>
        <a href="#"><button type="button" class="btn btn-outline-dark" id="login" (click)="onLogout()"*ngIf="isLogged">LogOut</button></a>
    </div>
        
    </div>
    
    
</div>
    