#LogoAP {
    width: 150px;
    height: auto;
}

img {
    width: 50px;
    height: auto;
    margin-inline: 2px;
    margin-top: 5px;
        
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{
    border-width: 0px;
    background-color: #ffffff;
    font-weight: bold;
    margin-inline: 5px;
    margin-top: 5px;
}

#login:hover{
    color: #3398a0;
    background-color: #dfdfdf;
    border-width: 3px;
    border-color: #ffffff;
}