<div class="row">
  <h2>Experiencia Laboral:</h2>
  <br />
  <div class="col-lg-11 list">
    <ul>
      <li><h3>Job 1 </h3><h5>(N° Years)</h5></li>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
        corrupti nam ut, deserunt obcaecati optio dicta a, incidunt nostrum, in
        labore voluptates sed ducimus earum error debitis sint quam! Dolore.
      </p>
    </ul>

    <ul>
      <li><h3>Job 2 </h3><h5>(N° Years)</h5></li>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
        corrupti nam ut, deserunt obcaecati optio dicta a, incidunt nostrum, in
        labore voluptates sed ducimus earum error debitis sint quam! Dolore.
      </p>
    </ul>

    <ul>
      <li><h3>Job 3 </h3><h5>(N° Years)</h5></li>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
        corrupti nam ut, deserunt obcaecati optio dicta a, incidunt nostrum, in
        labore voluptates sed ducimus earum error debitis sint quam! Dolore.
      </p>
    </ul>
  </div>
</div>
