<div class="fondo">
  <div  *ngIf="proyec">
    <div class="row">
      <div>
        <section class="form-register">
          <h4>Formulario de edición de proyectos</h4>
          <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="nombre"> Nombre del Proyecto </label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              [(ngModel)]="proyec.nombre"
              required
            />
          </div>
          <div class="form-group">
            <label for=" desripcion"> Descripción del proyecto </label>
            <input
              type="text"
              class="form-control"
              id="descripcion"
              name="descripcion"
              [(ngModel)]="proyec.descripcion"
              required
            />
          </div>
          <div class="form-group">
            <label for="fecha"> Fecha de inicio-fin </label>
            <input type="text" 
            class="form-control" 
            id="fecha" 
            name="fecha" 
            [(ngModel)]="proyec.fecha" required>
     </div>
          <br>
          <button class="btn btn-primary">Actualizar proyecto</button>
          </form>
      </section>
      </div>
    </div>
</div>  
</div>
