<div class="row">
    <h2>Mis proyectos:</h2>
    <br />
    <div class="col-lg-11 list">
      <ul>
        <li><h3>Portfolio </h3><h5>2022</h5></li>
  
        <p>
          SE DEBE AGREGAR LINK E IMAGENES A LA EVIDENCIA DEL PROYECTO<br>

          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
          corrupti nam ut, deserunt obcaecati optio dicta a, incidunt nostrum, in
          labore voluptates sed ducimus earum error debitis sint quam! Dolore.
        </p>
      </ul> 
    </div>
</div>